<form class="d-flex flex-column justify-content-center align-items-center" name="register" method="post">
    <div class="form-group">
        <label class="form-label" for="firstname">FirstName</label>
        <input class="form-control form-control-lg" id="firstname" type="text" name="firstname"/>
    </div>
    <div class="form-group">
        <label class="form-label" for="lastname">LastName</label>
        <input class="form-control form-control-lg" id="lastname" type="text" name="lastname"/>
    </div>
    <div class="form-group">
        <label class="form-label" for="address">Address</label>
        <input class="form-control form-control-lg" id="address" type="text" name="address"/>
    </div>
    <div class="form-group">
        <label class="form-label" for="locale">Locale</label>
        <input class="form-control form-control-lg" id="locale" type="text" name="locale"/>
    </div>
    <div class="form-group">
        <label class="form-label" for="birthdate">Birthdate</label>
        <input class="form-control form-control-lg" id="birthdate" type="date" name="birthdate"/>
    </div>
    <div class="form-group">
        <label class="form-label" for="username">Username</label>
        <input class="form-control form-control-lg" id="username" type="text" name="username"/>
    </div>
    <div class="form-group">
        <label for="password" class="form-label">Password</label>
        <input class="form-control form-control-lg" id="password" type="password" name="password"/>
    </div>
    <div class="form-group">
        <label class="form-label" for="email">Email</label>
        <input class="form-control form-control-lg" type="email" id="email" name="email"/>
    </div>
    <div class="form-group">
        <label class="form-label" for="phonenumber">Phonenumber</label>
        <input class="form-control form-control-lg" type="tel" id="phonenumber" name="phonenumber"/>
    </div>
    <input class="btn btn-primary" type="submit" value="Register" />
</form>