@page
@model AuthServer.TestIdentityProvider.Pages.SignInModel
@{
    ViewData["Title"] = "Sign In";
}



<h1>@ViewData["Title"]</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                @Html.AntiForgeryToken()
                <div class="form-floating mb-3">
                    <input asp-for="Input.Username" type="text" class="form-control" autocomplete="username" aria-required="true" placeholder="username"/>
                    <label asp-for="Input.Username" class="form-label">Username</label>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" type="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password"/>
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <input id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary" value="Log In"/>
                </div>
            </form>
        </section>
    </div>
</div>