@model AuthorizeModel

<form asp-action="connect/v1/authorize" method="post">
    <div class="form-group">
        <label class="form-label" for="username">Username</label>
        <input class="form-control form-control-lg" id="username" type="text" name="username"/>
    </div>
    <div class="form-group">
        <label class="form-label" for="password">Password</label>
        <input class="form-control form-control-lg" id ="password" type="password" name="password"/>
    </div>
    <input hidden name="redirect_uri" value=@Model.RedirectUri />
    <input hidden name="state" value=@Model.State />
    <input hidden name="client_id" value=@Model.ClientId />
    <input hidden name="response_type" value=@Model.ResponseType />
    <input hidden name="scope" value=@Model.Scope />
    <input hidden name="code_challenge" value=@Model.CodeChallenge />
    <input hidden name="code_challenge_method" value=@Model.CodeChallengeMethod />
    <input type="submit" value="Login" class="btn btn-primary" />
</form>