@model WebApp.ViewModels.LoginViewModel

<form class="d-flex flex-column justify-content-center align-items-center" name="login" method="post">
    <div class="form-group my-2">
        <label class="form-label mb-1" for="username">Username</label>
        <input class="form-control form-control-lg" id="username" type="text" name="username" value="@Model.LoginHint" />
    </div>
    <div class="form-group my-2">
        <label class="form-label mb-1" for="password">Password</label>
        <input class="form-control form-control-lg" id="password" type="password" name="password" />
    </div>
    <div class="form-group my-2">
        <input type="submit" value="Login" class="mx-auto btn btn-primary btn-lg btn-block" />
    </div>
</form>