<form asp-action="connect/v1/account/register" method="post">
    <input type="text" name="Username"/>
    <input type="password" name="Password"/>
    <input type="email" name="Email"/>
    <input type="tel" name="Phonenumber"/>
    <input type="submit" value="Register" />
</form>