<form asp-action="connect/v1/account/reset/password" method="post">
    <input type="text" name="Username"/>
    <input type="password" name="Password"/>
    <input type="submit" value="Reset" />
</form>
